#loading_div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
    opacity: 0.5;
}

#loading_img {
    width: 40px;
    position: relative;
    display: block;
    margin: 0px auto;
}